---
import { Image } from "astro:assets";
import Button from "../ui/Button.astro";
import heroBgImg from "@assets/stainless_steel_industrial_tank_hero.png";
import logo from "@assets/garola_logo_white.webp";
import { ArrowRight } from "lucide-react";
---

<section
  class="relative h-screen min-h-[600px] flex items-center overflow-hidden"
>
  <!-- Background Image with Overlay -->
  <div class="absolute inset-0">
    <Image
      src={heroBgImg}
      alt="Modern logistics warehouse with advanced automation"
      class="w-full h-full object-cover saturate-[0.85] contrast-[1.1] brightness-[0.9]"
      width={2070}
      height={1380}
      decoding="async"
      fetchpriority="high"
    />
    <div
      class="absolute inset-0
         bg-linear-to-r
         from-[#0b1220]/95
         via-[#0b1220]/85
         to-[#0b1220]/60"
    >
    </div>
    <div class="absolute inset-0 bg-black/30"></div>
  </div>

  <!-- Content -->
  <div class="container mx-auto relative z-10 px-4 sm:px-6 lg:px-8 mt-16">
    <div class="max-w-4xl">
      <div class="flex items-center gap-4">
        <span class="block w-40 h-[2px] bg-red-600"></span>

        <span
          class="text-red-600 text-sm font-semibold tracking-widest uppercase"
        >
          INGENIERÍA DE PRECISIÓN
        </span>
      </div>
      <Image
        src={logo}
        alt="GAROLA INOXIDABLE"
        class="w-80 md:w-full md:h-48 max-w-sm"
        width={600}
        height={150}
        decoding="async"
        fetchpriority="high"
      />

      <p class="text-lg text-slate-200 mb-8 max-w-2xl leading-relaxed">
        Especialistas en el diseño, fabricación y mantenimiento de equipamiento
        industrial. Trabajamos bajo los más altos estándares de calidad con
        materiales certificados, brindando soluciones para la industria láctea,
        alimenticia y proyectos a medida.
      </p>

      <div class="flex flex-col sm:flex-row gap-4 mb-12 tracking-widest">
        <Button
          href="/rfq"
          size="md"
          class="bg-red-600 hover:bg-red-700 text-sm rounded-none! uppercase text-white shadow-2xl!"
        >
          NUESTROS PRODUCTOS <ArrowRight className="ml-4" />
        </Button>
        <Button
          href="/capabilities"
          size="md"
          variant="outline"
          class="border-2! border-white! text-sm rounded-none! uppercase text-white! hover:bg-white/10! shadow-2xl!"
        >
          Contactános
        </Button>
      </div>
    </div>
  </div>
  <!-- Certifications -->
  <div
    class="absolute mx-auto right-40 md:bottom-20 bottom-6 z-10 flex flex-col items-center justify-end text-center"
  >
    <span class="text-xs tracking-[0.3em] text-slate-300 uppercase mb-2">
      Material
    </span>

    <h2 class="text-xl font-semibold text-white">AISI 304 / 316L</h2>

    <!-- Divider -->
    <span class="block w-12 h-[2px] bg-red-600 my-4"></span>

    <span class="text-xs tracking-[0.3em] text-slate-300 uppercase mb-2">
      Certificación
    </span>

    <h3 class="text-xl font-semibold text-white">ISO 9001:2015</h3>
  </div>
</section>
